<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hand Recognition</title>
</head>
<body>
    <h1>Choose a Feature</h1>
    <form action="/select_feature" method="post">
        <input type="radio" id="gesture" name="feature" value="gesture">
        <label for="gesture">Hand Gesture Recognition</label><br>
        <input type="radio" id="fingers" name="feature" value="fingers">
        <label for="fingers">Hand Fingers Count Recognition</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
